{% extends "layout.html" %}

{% block title %}
    {% if trip.id==-1 %}Add {% else %}Update {% endif %}Trip
{% endblock %}

{% block body %}
    <h3 class="menu">{% if trip.id==-1 %} Add {% else %} Update {% endif %} Trip</h3>
            <div class="container">
                <form action="{{ url_for('trips', trip_id = trip.id) }}" method="POST">
                            <h4>
                                <div class="form-group">
                                    <label for="trip_name">Trip Name</label>
                                    <input id="trip_name" name="name" value="{{trip.name}}" type="text" placeholder="Trip Name" required></div>
                                <!--<div class="form-group"><input name="description" value="{{trip.description}}" type="text" rows="4" placeholder="Description" required></div>-->
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" name="description" wrap="soft" rows="4" id="description">{{trip.description}}</textarea>
                                  </div>
                                <div class="form-group">
                                    <label for="origin">Origin</label>
                                    <input class="form-control" id = "origin" name="origin" value="{{trip.origin}}" type="text" placeholder="Origin" required></div>
                                <div class="form-group">
                                    <label for="destination">Destination</label>
                                    <input class="form-control" id = "destination" name="destination" value="{{trip.destination}}" type="text" placeholder="Destination" required></div>
                                <div class="form-group">
                                    <label for="departure_date">Departure Date</label>
                                    <input class="form-control" id="departure_date" name="departure_date" value="{{trip.departure_date}}" type="date"placeholder="Departure Date" required></div>
                                <div class="form-group">
                                    <label for="return_date">Return Date</label>
                                    <input class="form-control" id = "return_date" name="return_date" value="{{trip.return_date}}" type="date"placeholder="Return Date" required></div>
                                <div class="form-group"><button>{% if trip.id==-1 %}Add {% else %}Update {% endif %}Trip</button></div>
                            </h4>
                </form>
            </div>

{% endblock %}
