{% extends "layout.html" %}

{% block title %}
    Update an expense
{% endblock %}

{% block body %}
     <h3 class="menu">Update Expense for {{trip.name}}</h3>

            <div class="container">
                <form action="{{ url_for('edit_expense', expense_id=e.id) }}" method="POST">
                            <h3>
                                <div class="form-inp"><input name="name" value="{{e.name}}" type="text" placeholder="Expense Name" required></div>
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

                                <div class="form-inp"><select name="category" required>
                                    {% for c in categories %}
                                    <option value={{c}} {% if e.category==c %} selected="selected" {% endif %} >{{c}}</option>
                                    {% endfor %}
                                </select></div>
                                <div class="form-inp"><select id="frequency" name="frequency" required>
                                    {% for f in exp_freq %}
                                    <option value="{{f}}" {% if e.frequency==f %} selected="selected" {% endif %}>{{f}}</option>
                                    {% endfor %}
                                </select></div>
                                <div class="form-inp"><input id="myamount" min=0.00 step=0.01 name="amount" value="{{e.amount}}" type="number" placeholder="Amount" required></div>
                                <div class="form-inp"><input name="date" {%if e.date %}value="{{e.date}}" {% else %}  value={{today}} {% endif %} type="date" placeholder="Date" required></div>
                                <div id="end_date" class="form-inp"><input name="end_date" value="{{e.end_date}}" type="date" placeholder="End Date"></div>
                                <div class="form-inp"><button>Update</button></div>

                                <script type="text/javascript">
                                    var myInput = document.querySelector('#myamount');
                                    myInput.addEventListener("keyup", function(){
                                      myInput.value = myInput.value.replace(/(\.\d{2})\d+/g, '$1');
                                    });
                                </script>

                                <script type="text/javascript">
                                $(document).ready(function() {
                                  $('#frequency').on('change.end_date', function() {
                                    $("#end_date").toggle($(this).val() !== 'One-time');
                                  }).trigger('change.end_date');
                                });
                                </script>
                            </h3>
                </form>
            </div>

{% endblock %}
